<footer class="it-footer mt-5">
  <div class="it-footer-main">
    <div class="container">
      <section class="pb-4">
        <div class="row clearfix">
          <div class="col-sm-12">
            <div class="it-brand-wrapper">
              <a href="{{ '/' | relative_url }}">
                <it-icon name="it-pa" size="xl" color="inverse"></it-icon>
                <div class="it-brand-text">
                  <h2 class="no_toc">{{ site.title }}</h2>
                  <h3 class="no_toc">{{ site.description }}</h3>
                </div>
              </a>
            </div>
          </div>
        </div>
      </section>
      <section class="py-4 border-white border-top">
        <div class="row">
          <div class="col-lg-4 col-md-4 mt-2">
            <h4>Contatti</h4>
            <p>
              <strong>{{ site.title }}</strong><br>
              Via Roma 0 - 00000 Città - Codice fiscale / P. IVA: 000000000
            </p>
            <div class="link-list-wrapper">
              <ul class="footer-list link-list clearfix">
                <li><a class="list-item" href="#">Posta Elettronica Certificata</a></li>
                <li><a class="list-item" href="#">URP - Ufficio Relazioni con il Pubblico</a></li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 mt-2">
            <div class="pb-2">
              <h4>Seguici su</h4>
              <ul class="list-inline text-left social">
                <li class="list-inline-item">
                  <a class="p-2" href="#"><it-icon color="inverse" size="sm" name="it-designers-italia"></it-icon><span class="visually-hidden">Designers Italia (link esterno)</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2" href="#"><it-icon color="inverse" size="sm" name="it-twitter"></it-icon><span class="visually-hidden">X (link esterno)</span></a>
                </li>
                <li class="list-inline-item">
                  <a class="p-2" href="#"><it-icon color="inverse" size="sm" name="it-medium"></it-icon><span class="visually-hidden">Medium (link esterno)</span></a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 mt-2">
            <h4>Newsletter</h4>
            <div class="form-group d-flex gap-1">
              <it-input
                slotted
                type="text"
                id="footer-newsletter"
                size="sm"
                placeholder="Inserisci la tua email"
                label-hidden="">
                <span slot="label">Iscriviti alla newsletter</span>
                <it-button type="submit" variant="primary" slot="append">Iscriviti</it-button>
              </it-input>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
  <div class="it-footer-small-prints clearfix">
    <div class="container">
      <ul class="it-footer-small-prints-list list-inline mb-0 d-flex flex-column flex-md-row">
        <li class="list-inline-item"><a href="#">Note legali</a></li>
        <li class="list-inline-item"><a href="#">Privacy policy</a></li>
        <li class="list-inline-item"><a href="#">Mappa del sito</a></li>
        <li class="list-inline-item">
          <a href="https://form.agid.gov.it/view/xyz">Dichiarazione di accessibilità <span class="visually-hidden">(link esterno su sito AgID)</span></a>
        </li>
      </ul>
    </div>
  </div>
</footer>